:root {
    --text: #2B3044;
    --line: #BBC1E1;
    --line-active: #275EFE;
}
#scribble {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: inherit;
    margin: 0 var(--spacing, 0px);
    transition: margin .25s;
}
svg {
    width: 60px;
    height: 45px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 10px) translateZ(0);
    fill: none;
    stroke: var(--stroke, var(--line));
    stroke-linecap: round;
    stroke-width: 2px;
    stroke-dasharray: var(--offset, 69px) 278px;
    stroke-dashoffset: 361px;
    transition: stroke .25s ease var(--stroke-delay, 0s), stroke-dasharray .35s;
}
#scribble:hover {
        --spacing: 4px;
        --stroke: var(--line-active);
        --stroke-delay: .1s;
        --offset: 180px;
}

/* wavy */

.linkStyled {
    position: relative;
    transition: clip-path 275ms ease;
}

.linkStyled:hover span.wavy::before, .linkStyled:focus span.wavy::before {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

span.wavy {
      position: relative;
      display: inline-block;
      color: #4d9ff7;
}

span.wavy::before {
    position: absolute;
    content: attr(data-content);
    color: #2c2fe8;
    text-decoration: underline;
    text-decoration-color: #2c2fe8;
    clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
    transition: clip-path 275ms ease;
}

span.wavy::before {
    text-decoration-style: wavy;
    height: 30px;
}
  
span.dashed::before {
    text-decoration-style: dashed;
}


/* double underline */
.linkStyled:hover span.double::before, .linkStyled:focus span.double::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

span.double {
    position: relative;
    display: inline-block;
    color: #4d9ff7;
}

span.double::before {
  position: absolute;
  content: attr(data-content);
  color: #2c2fe8;
  text-decoration: underline;
  text-decoration-color: #2c2fe8;
  clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
  transition: clip-path 275ms ease;
}
  
span.double::before {
    text-decoration-style: double;
}

/* dotted underline */
.linkStyled:hover span.dotted::before, .linkStyled:focus span.dotted::before {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

span.dotted {
  position: relative;
  display: inline-block;
  color: #4d9ff7;
}

span.dotted::before {
position: absolute;
content: attr(data-content);
color: #2c2fe8;
text-decoration: underline;
text-decoration-color: #2c2fe8;
clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
transition: clip-path 275ms ease;
}

span.dotted::before {
  text-decoration-style: dotted;
}

/* .navigation li{
	display:inline-block;
	text-align:center;
}


.navigation li.active{
	background:red;
}

.bg-red {
    background:red;
} */

/* underline hover change color */
:root {
    --bg: black;
    --color: black;
    --underline-width: 8px;
    --underline-block-width: 20px;
    --underline-color: #56a9d6;
    --underline-color-hover: hsla(180, 100%, 50%, 0.5);
    --underline-transition: 0.5s;
  }
  .underline {
    font-size: 25px; font-weight: bold;
    color: var(--color);
    text-decoration: none;
    background-image: linear-gradient(90deg, var(--bg), var(--bg)),
      linear-gradient(90deg, var(--underline-color), var(--underline-color));
    background-size: var(--underline-block-width) var(--underline-width),
      100% var(--underline-width);
    background-repeat: no-repeat;
    background-position-x: calc(var(--underline-block-width) * -1), 0;
    background-position-y: 100%;
    transition: background-position-x var(--underline-transition);
  }
  
  .underline:hover {
    background-image: linear-gradient(90deg, var(--bg), var(--bg)),
      linear-gradient(
        90deg,
        var(--underline-color-hover),
        var(--underline-color-hover)
      );
    background-position-x: calc(100% + var(--underline-block-width)), 0;
  }

  /* color underline */

.colorLine {
  border-bottom: 3px solid #ff8cbc;
  /* font-size: 3em; */
  transition: all 0.25s linear;
  position: relative;
}

.colorLine:before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #61a3ff;
  position: absolute;
  left: 0;
  bottom: -3px; /* this is to match where the border is */
  transform-origin: left; 
  transform: scale(0);
  transition: 0.25s linear;
/*   will-change: transform; */
}

.colorLine:hover:before {
  transform: scale(1);
}