*{margin:0;}


html {
    font-family: 'Roboto Mono', monospace;
}

.main-body {
    height: 100%;
    background-image: url('images/conveniencestore.jpg');
    background-size: cover;
}

.top-bar {
    background-color: white;
    padding: 10px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    border-top: solid;
    border-bottom: dotted;
    
}

.title {
    
    max-height: 100px;
    width: 150px;

}

.inline {
    display: inline;

}

.menu-nav {
    height: 200%;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
    
}

button {
    font-family: 'Roboto Mono', monospace;
    background-color: white;
}

.main {
    background-color: white;
    margin: auto;
    width: 60%;
    height: fit-content;
    padding: 30px;
    border-radius: 15px;
    border: solid;
}

.slogan {
    font-size: 60px;
}


.footer {
    background-color: white;
    height:100px;
    position:relative;
    line-height:180%;
    padding:0 10px;
    border-bottom: dotted;
    vertical-align: bottom;
}


.footer-text {
    text-align: center;
    
}

.social-icon {
    max-width: 30px;
    max-height: 30px;
}

/* About page */

.about-body {
    background-color: white;
    background-size: cover;
    vertical-align: middle;
}


.profile-div {
    background-image: url('images/keyboard.jpg');
    background-size: cover;
    margin: auto;
    width: 60%;
    height: fit-content;
    padding: 30px;
    border-radius: 15px;
    border: solid;
    vertical-align: middle;
}


.profile-pic {
    max-width: 150px;
    max-height: 150px;
    border: solid;
    border-radius: 50%;
}

.summary-div {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}


/* Resources page */






/* Sandbox page */

.gform {
    margin-left: auto;
    margin-right: auto;
    align-self: center;
}