*{margin:0;}


html {
    font-family: "Courier New",Courier,"Lucida Sans Typewriter","Lucida Typewriter",monospace; 

}

.main-body {
    height: 100%;
    background-size: cover;
}

.top-bar {
    background-color: white;
    padding: 10px;
    /* overflow: hidden; */
    position: fixed;
    top: 0;
    width: 100%;
    border-top: solid;
    /* border-bottom: dotted; */
    z-index: 100;
    /* background-color: #cce6f0; */
}

.title {
    
    max-height: 100px;
    width: 150px;

}

.inline {
    display: inline;

}

.menu-nav {
    height: 200%;
    text-align: center;
    z-index: -1
}

a {
    text-decoration: none;
    color: black;
    
}

button {
    font-family: "Courier New",Courier,"Lucida Sans Typewriter","Lucida Typewriter",monospace; 
    background-color: white;
}

.main {
    background-color: white;
    margin: auto;
    width: 60%;
    height: fit-content;
    padding: 30px;
    border-radius: 15px;
    border: solid;
}

.slogan {
    font-size: 60px;
}

.donate-code {
    max-width: 150px;
    max-height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.footer {
    background-color: white;
    height:100px;
    position:relative;
    line-height:180%;
    padding:0 10px;
    border-bottom: dotted;
    vertical-align: bottom;
}


.footer-text {
    text-align: center;
    
}

.social-icon {
    max-width: 30px;
    max-height: 30px;
}

/* About page */

.about-body {
    background-color: white;
    background-size: cover;
    vertical-align: middle;
}


.profile-div {
    background-image: url('images/keyboard.jpg');
    background-size: cover;
    margin: auto;
    width: 60%;
    height: fit-content;
    padding: 30px;
    border-radius: 15px;
    border: solid;
    vertical-align: middle;
}


.profile-pic {
    max-width: 150px;
    max-height: 150px;
    border: solid;
    border-radius: 50%;
}

.summary-div {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}


/* Resources page */






/* Sandbox page */

.gform {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
}

.projectButton {
    width: 220px;
    background-color: white;
    height: 50px;
    border: 0px;
    justify-content: space-between;
}

/* flags */
.flag-container{
   text-align: center;
   justify-content: space-between;
   width: 100vw;
   height: 30px;
   overflow: hidden;
}

.flag-container img{
    margin: 10px;
    height: 20px;
    width: 25px;
    animation: moving 2s infinite ease-in-out;
    animation-direction: alternate;
    /* filter: grayscale(100%); */
}


@keyframes moving{
    from {transform: translateX(0);}
    to {transform: translateX(10px);}
}

/* "browserTab" div */
.browserTab {
    width: 304px;
    height: 30px;
    background-color: black;
    margin: auto;
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
}

.tabContent {
    width: 300px;
    height: 350px;
    border: 2px solid black;
    margin: auto;
}
.browserTab i{
    color: white;
    width: 2px;
    height: 2px;
    padding: 4px;
}

.browserTab #plus{
    width: 3px;
    height: 3px;
    margin-right: 10px;
}
.browserTab p{
    color: white;
}

 /* ambassador page */
 .ambContent {
    padding: 30px;
    border-radius: 15px;
    border: solid;
    min-height: 500px;
    width: 60%;
    text-align: justify;
    margin: auto;
    margin-top: 50px;
 }

 .ambContent img {
     height: 200px;
     width: 200px;
     align-self: center;
     margin-left: auto;
     margin-right: auto;
     display: block;
 }

 .ambContent ul {
     font-weight: 1000;
 }