@keyframes movingSearch {
    from {transform: translateZ(0px);}
    to {transform: translateZ(10px);}
}

body{
    perspective: 1000px;
}
.searchImage {
    animation: movingSearch 1s infinite;
    animation-direction: alternate;
    /* height: 250px;
    width: 300px; */
    margin: 0;
    align-self: center;
    border: 0;
    padding: 0;
    /* height: 50px;
    width: 200px; */
    /* text-align: center; border:0px; padding: 0px; margin: 0px; max-height: 400px; */
}

.searchImage img {
    height: 250px;
    width: 300px;
}