.partnerContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    margin: auto;
    /* width: 60%; */
}

.partnerContainer img {
    height: 200px;
    width: 300px;
    justify-content: center;
}

/* .partnerContainer h3 {
    text-align: center;
} */

.partner {
    text-align: center;
    padding: 30px;
}

.sectionName {
    border-radius: 15px;
    border-style: solid;
    border-color: black;
    margin: auto;
    position: relative;
    width: 200px;
    text-align: center;
    padding: 10px;
    /* margin-top: auto; */
}